{% extends 'base.html' %}
{% block content %}
<h2>{{ titulo }}</h2>

<form method="POST" action="{{ url_for('notas.atualizar') }}">
  <table class="table table-bordered table-striped table-sm">
    <thead class="table-light">
      <tr>
        {% for cab in cabecalhos %}
          <th>{{ cab }}</th>
        {% endfor %}
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens %}
        <tr>
          {% for campo in campos %}
            {% if campo in ['p1', 'p2', 'lt', 'projeto'] %}
              <td><input type="number" name="{{ campo }}_{{ item['id'] }}" value="{{ item[campo] }}" step="0.1" class="form-control form-control-sm" required></td>
            {% else %}
              <td>{{ item[campo] }}</td>
            {% endif %}
          {% endfor %}
          <td>
            <input type="checkbox" name="atualizar_ids" value="{{ item['id'] }}">
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Salvar Alterações</button>
</form>
{% endblock %}
