{% extends 'base.html' %}
{% block content %}
<h2>Disciplinas</h2>
<a href="{{ url_for('disciplinas.nova') }}" class="btn btn-primary mb-3">Nova Disciplina</a>
<table class="table table-bordered table-striped">
  <thead><tr><th>ID</th><th>Nome</th><th>Professor</th><th>Turma</th><th>Ações</th></tr></thead>
  <tbody>
    {% for d in disciplinas %}
      <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.nome }}</td>
        <td>{{ d.professor }}</td>
        <td>{{ d.turma.nome }}</td>
        <td><a href="{{ url_for('disciplinas.editar', id=d.id) }}" class="btn btn-sm btn-warning">Editar</a> <a href="{{ url_for(excluir_url, id=item.id) }}" class="btn btn-sm btn-outline-danger">Excluir</a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
